<?xml version="1.0" encoding="utf-8"?>
<configuration>
	

	<appSettings>
		<add key="URL" value="https://lambdatest.github.io/sample-todo-app/" />
		<add key="LTUser" value= "gomathiabi2000"/> 
		<add key="LTAccessKey" value="WhzkcL3dvdA5Z54ESIk8QqsEqLIL3lPyF56uS2Xd18cVDiVtnZ" /> 
		<add key="LTUrl" value="https://gomathiabi2000:WhzkcL3dvdA5Z54ESIk8QqsEqLIL3lPyF56uS2Xd18cVDiVtnZ@hub.lambdatest.com/wd/hub" />

		<add key="Browser" value="chrome" />
		<add key="BrowserVersion" value="62.0" />
		<add key="OS" value="win10" />
	</appSettings>

</configuration>
